html {
    font-size: 14px;
}

body {
    background-color: black;
    font-family: "Fredoka One";
}


h1 {
    text-align: center;
    font-size: 3.5rem;
    -webkit-text-stroke: 2px #e737c1
}

#gameContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
    
        
}

#buttonsContainer {
    display: flex;
    flex-direction: column;
    align-items:end;
    justify-content:flex-start;
    height: 32rem;
    width: 8rem;
    margin-right: 6rem;
    padding-top: 3rem;
    
}

.slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 14rem; 
    height: 0.5rem; 
    background: #E055A0; 
    outline: none; 
    border-radius: 6px; 
    box-shadow: 0 0.1rem 0 0.1rem white;
    margin-bottom: 1rem;
  }
  
  .slider:hover {
     
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 10px;
    width: 1.3rem; 
    height: 1.3rem; 
    background:#e737c1;
    cursor: pointer; 
    box-shadow: 0.1rem 0.1rem white;
  }

  .slider::-webkit-slider-thumb:hover {
    background: #bb55bd;
  }

  #sliderContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 0.8rem;
    margin-bottom: 1.8rem;
  }

button {
    margin: 0.7rem;
    width: 7rem;
    height:auto;
    font-family: "Fredoka One";
    color: #EBE8E8;
    font-size: 1.3rem;
    cursor:pointer;
    border-radius: 15px;
    padding: 0;
    border: none;
    outline-offset: 4px
}

.front {
        display: block;
        padding: 7px 7px;
        border-radius: 12px;
        font-size: 1.25rem;
        background: #DF62B1;
        color: black;
        transform: translateY(-6px);
}


.front:hover {
    opacity:0.9
}
.push:focus:not(:focus-visible) {
    outline: none;
}

.push:active .front {
    transform: translateY(-2px);
}

#classic .front  {
    background: #DF62B1 
}

#shade>.front  {
    background: #E055A0;
}

#colour>.front {
    background: #E96CEB;
}

#clear>.front  {
    background: #B258F6;
}


#gridContainer {
    display:flex;
    flex-wrap: wrap;
    border-bottom: solid 0.6rem #B258F6;
    border-top: solid 0.6rem #e737c1;
    border-left: solid 0.6rem #E055A0;
    border-right: solid 0.6rem #DF62B1;
    border-radius: 0.6rem;
    flex-shrink: 0;
    background-color: white;
    box-sizing: content-box;
    width: 32rem;
    max-width: 32rem;
    height: 32rem;
    max-height: 32rem;
}

.gridItem {
    flex: 1 0 auto;
    border: #EBE8E8 solid 0.05rem;
    box-sizing: border-box;
}







