html {
    font-size: 14px;
}

body {
    background-color: black;
    font-family: "Fredoka One";
}

#titleContainer {
    /*border: #EBE8E8 solid 0.05rem;*/

}

h1 {
    text-align: center;
    font-size: 3.5rem;
    color: #EE62F9;
    /*text-shadow: 0.2rem 0.2rem #D9D9D9; /*add blurred shadow? extra 0.2*/
}

#gameContainer {
    display:flex;
    justify-content: center;
    
    /*border: solid 0.2rem white;*/
    height: 38rem;
    
        
}

#buttonsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 32rem;
    width: 8rem;
    /*border: solid 0.2rem white;*/
    margin-right: 7rem;
    
}

.slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 14rem; 
    height: 0.5rem; 
    background: #E055A0; /* Grey background */
    outline: none; 
    border-radius: 6px; 
    box-shadow: 0 0.1rem 0 0.1rem white;
  }
  
  .slider:hover {
     
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 10px;
    width: 1.3rem; 
    height: 1.3rem; 
    background:#E96CEB;
    cursor: pointer; 
    box-shadow: 0.1rem 0.1rem white;
    -webkit-transition: .2s; 
    transition: opacity .2s; /*what to transition*/
    opacity: 1;
  }

  .slider::-webkit-slider-thumb:hover {
    background: #bb55bd;
  }

  #sliderContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 0.8rem;
    margin-bottom: 1.8rem;
  }

button {
    margin: 0.7rem;
    width: 7rem;
    height:auto;
    font-family: "Fredoka One";
    color: #EBE8E8;
    font-size: 1.3rem;
    cursor:pointer;
    border-radius: 15px;
    padding: 0;
    /*box-shadow: 0.3rem 0.3rem #D9D9D9;*/
    border: none;
    outline-offset: 4px
}

.front {
        display: block;
        padding: 7px 7px;
        border-radius: 12px;
        font-size: 1.25rem;
        background: #DF62B1;
        color: white;
        transform: translateY(-6px);
}


.front:hover {
    opacity:0.9
}
.push:focus:not(:focus-visible) {
    outline: none;
}

.push:active .front {
    transform: translateY(-2px);
}

#classic .front  {
    background: #DF62B1 
}

#shade>.front  {
    background: #E055A0;
}

#colour>.front {
    background: #E96CEB;
}

#reset>.front  {
    background: #B258F6;
}


#gridContainer {
    display:flex;
    flex-wrap: wrap;
    /*box-shadow: 0rem 0.8rem 0.2rem -0.6rem #D9D9D9;*/
    border: solid 0.2rem #E96CEB;
    background-color: white;
    box-sizing: content-box;
    width: 32rem;
    max-width: 32rem;
    height: 32rem;
    max-height: 32rem;
}

.gridItem {
    flex: 1 0 auto;
    border: #EBE8E8 solid 0.05rem;
    box-sizing: border-box;
}







